
<div class="login_page">

  
  <h2 class="main-text">
    <%= title %>
  </h2>
<div class="bottom_side">

  <form action="/auth/login" method="post" class="login-form">
    
    <div class="input-group  ">
      <input type="text" id="name" name="username" placeholder="Enter your username " required
      class="input" />
      
      <label htmlFor="name" >Enter your username</label>
    </div>
    
    <div class="input-group">
      <input type="password" id="address" name="password" placeholder=" " required minLength={5}
      class="input" />
      
      <label htmlFor="address">Enter your password</label>
    </div>
    
    <button type="submit" class="btn-submit">Login </button>
  </form>
</div>
</div>

<% if (error) { %> 
  <p class="error-message"><%= error %></p>
<% } %>
