<% if (user) { %>
  <div class="link list">
    <h2 class="heading">Questions</h2>
    <div class="settings-menu">
     <a href="/admin/questions_and_answers" class="links">Q&A<i class="fa fa-angle-right"></i></a>
  </div>
    <% } %></div>