<div class="page-wrapper">

  <h2 class="title"><%= title %></h2>

  <form method="post" action="/admin/aboutcompany_heading/create" class="form-container">
    <input type="text" name="lang" class="form-input" placeholder="Enter language code (e.g., en, fr)">
    <input type="text" name="title" class="form-input" placeholder="Enter title">
    

    <button type="submit" class="form-button">Create</button>
  </form>

  <% if (error) { %>
      <p class="error-message"><%= error %></p>
  <% } %>
</div>
