<% if (user) { %>
  <div class="link list">
    <h2 class="heading">Aquaculture Content</h2>
    <div class="settings-menu">
      <a href="/admin/aquaculture_intro" class="links">Intro <i class="fa fa-angle-right"></i></a>
      <a href="/admin/aquaculture_categories" class="links">Categories<i class="fa fa-angle-right"></i></a>
      <a href="/admin/aquaculture_sortOptions" class="links">Sort Options<i class="fa fa-angle-right"></i></a>
      <a href="/admin/aquaculture_products" class="links">Products<i class="fa fa-angle-right"></i></a>
      <a href="/admin/aquaculture_show_product_btn_text" class="links">Products Btn<i class="fa fa-angle-right"></i></a>
      <a href="/admin/aquaculture_content" class="links">Content<i class="fa fa-angle-right"></i></a>
    </div>
  </div>
  <% } %>