<div class="sidebar">
  <a class="dropdown-btn">
    <i class="fas fa-cogs"></i> Header Content <i class="fas fa-chevron-right arrow"></i>
  </a>
  <div class="dropdown-container">
    <a href="/admin/header_logo">Logo <i class="fas fa-angle-right"></i></a>
    <a href="/admin/language">Language <i class="fas fa-angle-right"></i></a>
    <a href="/admin/navbar">Navbar <i class="fas fa-angle-right"></i></a>
    <a href="/admin/contact">Contact <i class="fas fa-angle-right"></i></a>
  </div>

  <a class="dropdown-btn">
    <i class="fas fa-home"></i> HomePage <i class="fas fa-chevron-right arrow"></i>
  </a>
  <div class="dropdown-container">
    <a href="/admin/homepage_intro">Intro <i class="fas fa-angle-right"></i></a>
    <a href="/admin/homepage_products_heading">Heading <i class="fas fa-angle-right"></i></a>
    <a href="/admin/homepage_products">Products <i class="fas fa-angle-right"></i></a>
    <a href="/admin/homepage_advantages_heading">Advantages Heading <i class="fas fa-angle-right"></i></a>
    <a href="/admin/homepage-advantages">Advantages <i class="fas fa-angle-right"></i></a>
    <a href="/admin/homepage-about">About <i class="fas fa-angle-right"></i></a>
    <a href="/admin/homepage_news_heading">News Heading <i class="fas fa-angle-right"></i></a>
    <a href="/admin/homepage_news">News <i class="fas fa-angle-right"></i></a>
    <a href="/admin/homepage_feedback">Feedback <i class="fas fa-angle-right"></i></a>
  </div>

  <a class="dropdown-btn">
    <i class="fas fa-fish"></i> Aquaculture <i class="fas fa-chevron-right arrow"></i>
  </a>
  <div class="dropdown-container">
    <a href="/admin/aquaculture_intro">Intro <i class="fas fa-angle-right"></i></a>
    <a href="/admin/aquaculture_categories">Categories<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aquaculture_sortOptions">Sort Options<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aquaculture_products">Products<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aquaculture_show_product_btn_text">Products Btn<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aquaculture_content">Content<i class="fas fa-angle-right"></i></a>
  </div>

  <a class="dropdown-btn">
    <i class="fas fa-feather"></i></i> Farmanimals <i class="fas fa-chevron-right arrow"></i>
  </a>
  <div class="dropdown-container">
    <a href="/admin/farmanimals_intro">Intro <i class="fas fa-angle-right"></i></a>
    <a href="/admin/farmanimals_categories">Categories<i class="fas fa-angle-right"></i></a>
    <a href="/admin/farmanimals_sortOption">Sort Options<i class="fas fa-angle-right"></i></a>
    <a href="/admin/farmanimals_products">Products<i class="fas fa-angle-right"></i></a>
    <a href="/admin/farmanimals_show_product_btn_text">Products Btn<i class="fas fa-angle-right"></i></a>
    <a href="/admin/farmanimals_content">Content<i class="fas fa-angle-right"></i></a>
  </div>

  <a class="dropdown-btn">
    <i class="fas fa-paw"></i></i>Pets<i class="fas fa-chevron-right arrow"></i>
  </a>
  <div class="dropdown-container">
    <a href="/admin/pets_intro">Intro <i class="fas fa-angle-right"></i></a>
    <a href="/admin/pets_sortOption">Sort Options<i class="fas fa-angle-right"></i></a>
  </div>


  <a class="dropdown-btn">
    <i class="fas fa-briefcase"></i></i>About Company<i class="fas fa-chevron-right arrow"></i>
  </a>
  <div class="dropdown-container">
    <a href="/admin/aboutcompany_intro">Intro<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_info">Info<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_heading">Heading<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_data">Data<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_btn">Btn<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_partners">Partners<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_vacancies_heading">Vacancies_heading<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_vacancies">Vacancies<i class="fas fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_feedback">Feedback<i class="fas fa-angle-right"></i></a>
  </div>


  <a class="dropdown-btn">
    <i class="fas fa-truck"></i></i>Procurement<i class="fas fa-chevron-right arrow"></i>
  </a>
  <div class="dropdown-container">
    <a href="/admin/procurement_intro">Intro<i class="fa fa-angle-right"></i></a>
    <a href="/admin/procurement_aboutcompany">Aboutcompany<i class="fa fa-angle-right"></i></a>
    <a href="/admin/procurement_advantages">Advantages<i class="fa fa-angle-right"></i></a>
    <a href="/admin/procurement_suppliers">Suppliers<i class="fa fa-angle-right"></i></a>
    <a href="/admin/procurement_feedback">Feedback<i class="fa fa-angle-right"></i></a>
  </div>

  <a class="dropdown-btn">
    <i class="fa-solid fa-envelopes-bulk"></i></i>News<i class="fas fa-chevron-right arrow"></i>
  </a>
  <div class="dropdown-container">
    <a href="/admin/news_heading">Heading<i class="fa fa-angle-right"></i></a>
    <a href="/admin/news_categories">Categories<i class="fa fa-angle-right"></i></a>
    <a href="/admin/news_info">Info<i class="fa fa-angle-right"></i></a>
    <a href="/admin/news_content">Content<i class="fa fa-angle-right"></i></a>
  </div>
  <a class="dropdown-btn">
    <i class="fa-solid fa-envelope"></i></i>Contacts<i class="fas fa-chevron-right arrow"></i>
  </a>
  <div class="dropdown-container">
    <a href="/admin/contacts_feedback">Feedback<i class="fa fa-angle-right"></i></a>
    <a href="/admin/contacts_address">Address<i class="fa fa-angle-right"></i></a>
    <a href="/admin/contacts_hours">Hours<i class="fa fa-angle-right"></i></a>
    <a href="/admin/contacts_links">Contacts Links<i class="fa fa-angle-right"></i></a>
  </div>

  <a class="dropdown-btn">
    <i class="fa-solid fa-question-circle"></i></i>Q&A<i class="fas fa-chevron-right arrow"></i>
  </a>
  <div class="dropdown-container">
    <a href="/admin/questions_and_answers">Q&A<i class="fa fa-angle-right"></i></a>
  </div>

  <a class="dropdown-btn">
    <i class="fa-solid fa-layer-group"></i></i>Footer<i class="fas fa-chevron-right arrow"></i>
  </a>
  <div class="dropdown-container">
    <a href="/admin/footers_heading">Heading <i class="fa fa-angle-right"></i></a>
    <a href="/admin/footers_links">Footers Links <i class="fa fa-angle-right"></i></a>
    <a href="/admin/footers_info">Info <i class="fa fa-angle-right"></i></a>
    <a href="/admin/footers_schedule">Schedule <i class="fa fa-angle-right"></i></a>
    <a href="/admin/footers_credit">Credit <i class="fa fa-angle-right"></i></a>
  </div>
  <a href="/admin/images" class="dropdown-btn">
    <i class="fas fa-images"></i> Media <i class="fas fa-chevron-right arrow"></i>
  </a>
</div>