<div class="page-wrapper">

  <h2 class="title">
    <%= title %>
  </h2>

  <form method="post" action="/admin/questions_and_answers/create" class="form-container">
    <input type="text" name="lang" class="form-input" placeholder="Enter language code (e.g., en, fr)">
    <input type="text" name="sub_title" class="form-input" placeholder="Enter sub title">
    <input type="text" name="route" class="form-input" placeholder="Enter route">
    <input type="text" name="sub_title1" class="form-input" placeholder="Enter sub title 1">
    <input type="text" name="title" class="form-input" placeholder="Enter title">
    <input type="text" name="description" class="form-input" placeholder="Enter description">

    <button type="submit" class="form-button">Create</button>
  </form>

  <% if (error) { %>
    <p class="error-messages">
      <%= error %>
    </p>
    <% } %>

</div>