<% if (user) { %>
        <div class="link list">
                <h2 class="heading">Homepage Content</h2>
                <div class="settings-menu">
                        <a href="/admin/homepage_intro" class="links">Intro <i class="fa fa-angle-right"></i></a>
                        <a href="/admin/homepage_products_heading" class="links">Heading <i
                                        class="fa fa-angle-right"></i></a>
                        <a href="/admin/homepage_products" class="links">Products <i class="fa fa-angle-right"></i></a>
                        <a href="/admin/homepage_advantages_heading" class="links">Advantages Heading <i
                                        class="fa fa-angle-right"></i></a>
                        <a href="/admin/homepage-advantages" class="links">Advantages<i
                                        class="fa fa-angle-right"></i></a>
                        <a href="/admin/homepage-about" class="links">About<i class="fa fa-angle-right"></i></a>
                        <a href="/admin/homepage_news_heading" class="links">News Heading<i
                                        class="fa fa-angle-right"></i></a>
                        <a href="/admin/homepage_news" class="links">News<i class="fa fa-angle-right"></i></a>
                        <a href="/admin/homepage_feedback" class="links">Feedback<i class="fa fa-angle-right"></i></a>
                </div>
        </div>
        <% } %>