<% if (user) { %>
      <div class="link list">
        <h2 class="heading">Footer</h2>
        <div class="settings-menu">
          <a href="/admin/footers_heading" class="links">Heading <i class="fa fa-angle-right"></i></a>
          <a href="/admin/footers_links" class="links">Footers Links <i class="fa fa-angle-right"></i></a>
          <a href="/admin/footers_info" class="links">Info <i class="fa fa-angle-right"></i></a>
          <a href="/admin/footers_schedule" class="links">Schedule <i class="fa fa-angle-right"></i></a>
          <a href="/admin/footers_credit" class="links">Credit <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <% } %>