<div class="page-wrapper">
  <h2 class="title">
    <%= title %>
  </h2>

  <form method="post" action="/admin/homepage_news_heading/create" class="form-container">
    <input type="text" name="lang" class="form-input" placeholder="e.g., en, fr">
    <input type="text" name="title" class="form-input" placeholder="Enter title">
    <input type="text" name="link_news" class="form-input" placeholder="Enter news URL">
    <input type="text" name="route" class="form-input" placeholder="Enter route (e.g., /news/latest)">


    <button type="submit" class="form-button">Create</button>
  </form>

  <% if (error) { %>
    <p class="error-messages">
      <%= error %>
    </p>
    <% } %>
</div>