<% if (user) { %>
  <div class="link list">
    <h2 class="heading">Header Content</h2>

    <div class="settings-menu">
      <a href="/admin/header_logo" class="links">
        Logo <i class="fa fa-angle-right"></i>
      </a>
      <a href="/admin/language" class="links">
        Language <i class="fa fa-angle-right"></i>
      </a>
      <a href="/admin/navbar" class="links">
        Navbar <i class="fa fa-angle-right"></i>
      </a>
      <a href="/admin/contact" class="links">
        Contact <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
<% } %>
