<% if (user) { %>
  <div class="link list">
    <h2 class="heading">Pets</h2>
    <div class="settings-menu">
      <a href="/admin/pets_intro" class="links">Intro <i class="fa fa-angle-right"></i></a>
      <a href="/admin/pets_sortOption" class="links">Sort Options <i class="fa fa-angle-right"></i></a>
    </div>
    <% } %>