<% if (user) { %>
  <div class="link list">
    <h2 class="heading">Aboutcompany</h2>
    <div class="settings-menu">
    <a href="/admin/aboutcompany_intro" class="links">Intro<i class="fa fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_info" class="links">Info<i class="fa fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_heading" class="links">Heading<i class="fa fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_data" class="links">Data<i class="fa fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_btn" class="links">Btn<i class="fa fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_partners" class="links">Partners<i class="fa fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_vacancies_heading" class="links">Vacancies_heading<i class="fa fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_vacancies" class="links">Vacancies<i class="fa fa-angle-right"></i></a>
    <a href="/admin/aboutcompany_feedback" class="links">Feedback<i class="fa fa-angle-right"></i></a>
  </div>
    <% } %>