<div class="page-wrapper">
<h2 class="title"><%= title %></h2>

  <form method="post" action="/admin/language/create" class="form-container">
      <input type="text" name="label" id="label" class="form-input" placeholder="Enter Language">

      <button type="submit" class="form-button">Create</button>
  </form>

  <% if (error) { %>
      <p class="error-messages"><%= error %></p>
  <% } %>
</div>
