<div class="page-wrapper">
<h2 class="title"><%= title %></h2>

  <form method="post" action="/admin/language/edit/<%= language.id %>" class="form-container">
    <input type="text" name="label" id="label" class="form-input" value="<%= language.label %>"  placeholder="Enter label">

    <button type="submit" class="form-button">Update</button>
  </form>

  <% if (error) { %>
    <p class="error-messages"><%= error %></p>
  <% } %>
</div>
