<% if (user) { %>
<div class="link list">
  <h2 class="heading">Procurement</h2>
  <div class="settings-menu">
    <a href="/admin/procurement_intro" class="links">Intro<i class="fa fa-angle-right"></i></a>
    <a href="/admin/procurement_aboutcompany" class="links">Aboutcompany<i class="fa fa-angle-right"></i></a>
    <a href="/admin/procurement_advantages" class="links">Advantage<i class="fa fa-angle-right"></i></a>
    <a href="/admin/procurement_suppliers" class="links">Suppliers<i class="fa fa-angle-right"></i></a>
    <a href="/admin/procurement_feedback" class="links">Feedback<i class="fa fa-angle-right"></i></a>
  </div>
  <% } %>