<% if (user) { %>
  <div class="link list">
    <h2 class="heading">Contacts</h2>
    <div class="settings-menu">
     <a href="/admin/contacts_feedback" class="links">Feedback<i class="fa fa-angle-right"></i></a>
      <a href="/admin/contacts_address" class="links">Address<i class="fa fa-angle-right"></i></a>
      <a href="/admin/contacts_hours" class="links">Hours<i class="fa fa-angle-right"></i></a>
      <a href="/admin/contacts_links" class="links">Contacts Links<i class="fa fa-angle-right"></i></a>
  </div>
    <% } %>