<% if (user) { %>
<div class="link list">
  <h2 class="heading">News</h2>
 <div class="settings-menu">
    <a href="/admin/news_heading" class="links">Heading<i class="fa fa-angle-right"></i></a>
    <a href="/admin/news_categories" class="links">Categories<i class="fa fa-angle-right"></i></a>
    <a href="/admin/news_info" class="links">Info<i class="fa fa-angle-right"></i></a>
    <a href="/admin/news_content" class="links">Content<i class="fa fa-angle-right"></i></a>
  </div>
  <% } %>